/* Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&family=Ubuntu:wght@300;400;500;700&display=swap');

* {
    font-family: 'Ubuntu', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --blue: #2a2185;
    --white: #fff;
    --gray: #f5f5f5;
    --black1: #222;
    --black2: #999;
}

body {
    min-height: 100vh;
    overflow-x: hidden;
}

.container {
    position: relative;
    width: 100%;
}

/* sidebar */
.navigation {
    position: fixed;
    width: 300px;
    height: 100%;
    background: var(--blue);
    border-left: 10px solid var(--blue);
    transition: 0.5s;
    overflow: hidden;
    overflow-y: auto;
}

.navigation::-webkit-scrollbar {
    display: none;
}

.navigation.active {
    width: 80px;
}

.navigation ul {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
}

.navigation ul li {
    position: relative;
    width: 100%;
    list-style: none;
    border-top-left-radius: 30px;
    border-bottom-left-radius: 30px;
    z-index: 1;
}

.navigation ul li:hover,
.navigation ul li.hovered {
    background-color: var(--white);
}

.navigation ul li:nth-child(1) {
    margin-bottom: 40px;
    pointer-events: none;
}

.navigation ul li a {
    position: relative;
    display: block;
    width: 100%;
    display: flex;
    text-decoration: none;
    color: var(--white);
}

.navigation ul li:hover a,
.navigation ul li.hovered a {
    color: var(--blue);
}

.navigation ul li a .icon {
    position: relative;
    display: block;
    min-width: 60px;
    height: 60px;
    line-height: 75px;
    text-align: center;
    z-index: 2;
}

.navigation ul li a .icon ion-icon {
    font-size: 1.75rem;
}

.navigation ul li a .title {
    position: relative;
    display: block;
    padding: 0 10px;
    height: 60px;
    line-height: 60px;
    text-align: start;
    white-space: nowrap;
    z-index: 1;
}

input[type=text], select, textarea {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    resize: vertical;
    box-shadow: 0 3px 5px rgba(0, 0, 0, 0.1);
  
  }
    
  label {
    padding: 12px 12px 12px 0;
    display: inline-block;
  }
  
  .menu  {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    margin: 20px;
  }
  
  .menu div  {
    text-align: center;
  }
  
  .menu img  {
    width: 100%;
    height: 75px;
    display: block;
    margin: 0 auto;
    border: none;
    border-radius: 5px;
  }
  
  h4, h3  {
    display: block;
    margin: 5px 0;
  }
  
  .makanan {
    width: 130px;
    margin: 10px 10px;
    border: 1px solid #ccc;
    background-color: rgb(248, 164, 74);
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  }
  
  input[type=number] {
    width: 40px;
    border: 1px solid;
    border-radius: 3px;
    margin-bottom: 5px;
  }
    
  input[type=submit] {
      background-color: #d04848;
      color: white;
      padding: 12px 20px;
      border: none;
      border-radius: 4px;
      cursor: pointer;
      float: right;
  }
    
  input[type=submit]:hover {
      background-color: #821e03;
  }
    
  .container {
    border-radius: 5px;
    background-color: #e0dddd;
    padding: 20px;
  }
    
  .col-25 {
    float: left;
    width: 25%;
    margin-top: 6px;
  }
    
  .col-75 {
    float: left;
    width: 75%;
    margin-top: 6px;
  }
    
  /* Clear floats after the columns */
  .row::after {
    content: "";
    display: table;
    clear: both;
  }
    
  /* Responsive layout - when the screen is less than 600px wide, make the two columns stack on top of each other instead of next to each other */
  @media screen and (max-width: 600px) {
    .col-25, .col-75, input[type=submit] {
      width: 100%;
      margin-top: 0;
    }
  }
  